.head {
    background-color: @headBgColor;
    .h(40);
    .lh(40);
    padding: 0 7px;
    .text {
        color: @defaultColor;
    }
    .custom {
        background-color: @warnColor;
        color: @defaultColor;
        border-color: @warnColor;
        border-style: dashed;
        .mt(7);
        // .pl(15);
        .mr(15);
    }
    .back-btn {
        font-size: 20px;
        width: 1rem;
        left: 0;
    }
}
